/*navsection*/
.img-logo{
  width: 60px;
  height: 50px;
}
#loginBtn{
  border: none;
  font-size: 14px;
  font-weight: 600;
  background: #6D5E63;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}
#loginBtn:hover{
  background-color: white;
  color: black;
}
#joinBtn{
  background: #368D87;
  padding: 12px 25px;
  color: #fff;
  border-radius: 10px;
  border: none;
}
#joinBtn:hover{
  background-color: #a4e2de;
  color: black;
}
/*home section*/
.homeH1{
color: #D20200;
font-size: 28px;
font-family: 'Times New Roman', Times, serif;
font-weight: 600;
}
.homeimg{
  width: 100%;
}
.homeP{
  font-family: "Raleway",sans-serif;
  line-height: 1.5;
  font-size: 15px;
}
#slide1{


background-color: #f8f8f8;
box-sizing: border-box;
Padding: 15px 15px 15px 15px;
margin: 2px;
z-index: 99999;
border-radius: 13px;
text-align: center;
box-shadow: 0px 2px 0px #e5e6e6;
}
#slide1 h3 {
  color: #444;
  font-size: 19px;
  margin-top: 20px;
}
#slide1 p a {
  color: #444;
  font-size: 14px;
}
#slide1 button {
  border: none;
  background-color: #528b86;
  color: #444;
  height: 40%;
  line-height: 30px;
  width: 45%;
  border-radius: 10px;
 box-shadow: 0px 2px 0px #287771;
}
#slide1 button:hover{
  background-color: #89d1cb;
}